.container {
    position: relative;
    z-index: 10;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 40px;
  }
  
  h1 {
    color: white;
    margin-bottom: 30px;
    text-shadow: 3px 3px 0 black;
  }
  
  /* CAIXA PRINCIPAL */
  .box {
    width: 700px;
    max-width: 90%;
    text-align: center;
  
    background: rgba(0,0,0,0.75);
    border: 3px solid white;
    border-radius: 10px;
  
    padding: 25px;
  
    color: white;
    font-size: 12px;
  }
  
  /* CADA LINHA */
  section {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 15px 0;
  }
  
  section:last-child {
    border-bottom: none;
  }
  
  /* TÍTULOS */
  h2 {
    color: #ffd54f;
    margin-bottom: 8px;
  }
  
  /* BOTÃO */
  button {
    margin-top: 25px;
  }